<h1>kv2 Edit</h1>
<form action="/admin/khuvuc/<%= kv.id %>?_method=PUT" method="POST">
    <input type="text" name="kv2[name]" value="<%= kv.name %>">
    <input type="text" name="kv2[status]" id="" value="<%= kv.status %>">
    <input type="text" name="kv2[school]" id="" value="<%= kv.school %>">
    <input type="text" name="kv2[kv3]" id="" value="<%= kv.kv3 %>">
    <input type="text" name="kv2[adress]" id="" value="<%= kv.adress %>">
    <input type="text" name="kv2[fathername]" id="" value="<%= kv.fathername %>">


    <input type="submit">
</form>
