
<% layout('layouts/boilerplate') -%>
<div class="ct-post">
	<div class="testt"></div>
	<% include ../partials/user-leftnav %>
	<div class="right-main">
		<div class="link-address">
			<div class="cate-bar">
				<p><span class="a">Trang chủ</span> / <span class="b">Quản lý bài đăng</span></p>
			</div>
		</div>
		<div>
			<h3 class="nomal3-title">Danh sách các phòng đã đăng</h3>

					

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Tìm kiếm bài đăng" title="Type in a name">
<table id="myTable">
  <tr class="header">
    <th style="widows: 15%;">Hình Ảnh</th>
	<th style="width: 23%;">Tiêu đề</th>
	<th style="width: 18%;">Giá cả</th>
	<th style="width: 12%;">Ngày tạo</th>
	<th style="width: 12%;">Trạng thái</th>
	<th style="width: 10%">Tác vụ</th>
	<th style="width: 10%;">Tác vụ</th>
  </tr>
	<% posts.forEach(function(post) { %>
		<tr>
		<td><img src="<%= post.url %>" alt="" width="100%"></td>
		<td><a href="/posts/<%= post.id %>"><%= post.title %></a></td>
		<td style="color:red"><%= String(post.price).replace(/(.)(?=(\d{3})+$)/g,'$1,') %> VND</td>
		<td><%= moment(post.createdAt).format("DD/MM/YYYY") %></td>
		<td>
			<% if(post.status == 1){ %>
				<input style="background-color: green;" type="submit" value="Đã duyệt">
			<% } else { %>
				<input style="background-color: red;" type="submit" value="Chưa duyệt">
			<% } %>
		</td>
		<td>
			<a href="/posts/<%= post.id %>/edit">
				<input style="background-color: blueviolet;" type="submit" value="Edit">
			</a>
			
		</td>
		<td>
			<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
				<input style="background-color: red;" type="submit" value="Delete">
			</form>
		</td>
	</tr>
		<% }); %>
</table>


		</div>
	</div>
</div>	
<script>
	function myFunction() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[1];
		if (td) {
		  txtValue = td.textContent || td.innerText;
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}       
	  }
	}
	</script>